.navbar {
  display: flex;
  justify-content: space-between;

  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;

  .title {
    color: white;
    display: flex;
    margin-left: 20px;
    font-size: 30px;
    align-items: center;
  }

  .menu {
    display: flex;
    gap: 50px;
    list-style: none;
    margin: 20px;
    color: white;
  }
}
