@import "../abstracts/variables";

.navbar {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 160px;
  opacity: 0.8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  .title-wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;

    .title {
      align-items: center;
      color: $dark-brown;
      display: flex;
      font-size: 30px;
      font-weight: bold;
    }
  }

  .menu {
    color: $dark-brown;
    display: flex;
    gap: 50px;
    height: 25px;
    list-style: none;
    margin: 10px;

    li {
      display: flex;
      align-items: center;

      &:hover {
        border-bottom: 2px solid $gray-2;
        cursor: pointer;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 640px) {
  .menu {
    display: none;
  }
}
