.hero-field {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero-image {
    height: 100vh;
    object-fit: cover;
    filter: brightness(30%);
  }

  .scroll-icon {
    bottom: 50px;
    color: white;
    font-size: 40px;
    position: absolute;
  }
}
